<!DOCTYPE html>
<html lang="pl">
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}HRef{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    {% endblock %}

    {% block javascripts %}
        <!-- Latest compiled and minified JavaScript -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('bundles/href/css/home.css') }}"/>
</head>
<body>
{% block menu %}
    <div class="container">

        <div class="navbar">

            {#<div class="container-fluid">#}

                    <img src="{{ asset('href.png') }}" class="logo"> <a  href="/"></a>
                    <div style="float:right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                        <p style="color:white">{{ app.user.email }}</p>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                    </div>
                </div>

            <div class="sidebar-menu jumbotron">
                <nav class="">
                <ul class="nav navbar-nav" style="margin-top: 5px;margin-left: 15px;">
                    <li ><a href="/">Home</a></li>
                    <li class="">
                        <a href="/">Struktura
                            </a>
                        <ul class="">
                            <li><a href="/structure">Lista</a></li>
                            <li><a href="/structure/new">Dodaj stanowisko</a></li>

                        </ul>
                    </li>
                    <li>

                        <a href="/">Użytkownicy
                            <ul>
                            </a>
                            <li><a href="/user/{{ app.user.id }}/show">Mój profil</a></li>
                            <li><a href="/user">Wszyscy użytkownicy</a></li>
                            <li><a href="/user/new">Dodaj użytkownika</a></li>
                            <li><a href="/resetting/request">Resetuj</a></li>
                            <li><a href="/group/list">Grupy</a></li>

                        </ul>
                    </li>

                    <li><a href="#">Wnioski</a></li>
                </ul>
                </nav>

            </div>



{% endblock %}
{% block body %}




{% endblock %}

</body>
</html>
