{% extends 'base.html.twig' %}

{% block body %}
    <div class="col col-sm-4">
    <h1>Informacje o użytkowniku:</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>

            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
                <tr>
                <th>Stanowisko</th>
                <td>{{ user.structure.position }}</td>
            </tr>
            <tr>
                <th>Symbol w strukturze</th>
                <td>{{ user.structure }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
