{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="content jumbotron">
    <h1>Structure</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ structure.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ structure.position }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ structure.symbol }}</td>
            </tr>
            <tr>
                <th>Superior</th>
                <td>{{ structure.superior }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ structure.level }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('structure_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('structure_edit', { 'id': structure.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
